.gitignore

# 'hello' is for testing
hello**
.DS_Store
.vscode

# latexmk files
**/*.asy
**/*.aux
**/*.bbl
**/*-blx.bib
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
**/*.xml
**/*Notes.bib

# private files
amc-tutorial/**
examples-from-evan-chen/**